.profile-pic{
    height: 120px;
    width: 120px;
    border-radius: 50%;   
}
.profile-Bio{
 font-size: small;
 margin-top: -10px;
}
.count-section{
    border-right: 2px solid #c3c3c3;
}
.container{
    width: 80vw;

}

.custom-btn-white{
    background-color: #fdfeff;
    color: black;
    border: 2px solid #e5e7e9;
    padding: 0.5rem;
    border-radius: 4px;
}
.upload-post{
    height: 320px;
    width: 320px;
    border: 4px dotted gray;
    border-radius: 10px;
}
.custom-btn-pink{
    background-color: #f11e79;
    color: rgb(249, 248, 248);
    border: 2px solid #eb0c6c;
    padding: 0.5rem;
    border-radius: 4px;
    width: 140px;
}
.custom-btn-pink:hover{
    color: black;
    font-weight: bold;
}
.dropContainer{
    transform: translate(4rem,8rem);
    position: relative;
    z-index: 1;
}
.fileUpload{
 opacity: 0;
}
.upload-icon{
  margin-left: 5rem;
  position: absolute;

  
}
.upload-icon-container{
    transform: translate(4rem,6rem);
position: absolute;
}
@media screen and (max-width:500px){
    .container{
        width: 100vw !important;
    }
    .profile-post1{
        padding: 10px !important;
    }
    .profile-post2{
        padding: 10px !important;
        padding-bottom: 1rem !important;
        margin-top: -18px !important;
    }
  }